:root {
  --primary-color: #1d5888;
  --secondary-color: #ff993b;
  --dark-color: #292929;
  --light-color: #dff3e4;
}

body {
  color: var(--dark-color);
}

nav {
  background-color: var(--dark-color);
  color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}
.sticky-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.copyright {
  padding: 0;
  margin: 0;
}

.brand {
  font-size: 1.3rem;
}

.fab {
  color: var(--light-color);
}

.checklist > li i {
  color: var(--secondary-color);
}

.fab:hover {
  opacity: 0.9;
  color: var(--secondary-color);
}

.bsicon {
  color: #7911f2;
}

.jsicon {
  color: #f0db4f;
}

.html5icon {
  color: #f75421;
}

.cssicon {
  color: #0168ba;
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
